<h1>Sign up to become a member</h1>

<%= form_with(model: @user, local: true) do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<br>
<%= f.label :age %>
<%= f.text_field :age %>
<br>
<%= f.label :location %>
<%= f.text_field :location %>
<br>
<%= f.submit "Sign up" %>
<% end %>
